{% extends "base.html" %}

{% block title %}Add employee{% endblock %}

{% block content %}
 <h2>Add an employee:</h2>
    <form action="{{ url_for('main.create_employee') }}" method="POST">
        <div>
            <label>First name<input type="text" name="first_name"></label>
        </div><br>
        <div>
            <label>Last name<input type="text" name="last_name" required></label>
        </div><br>
         <div>
             <label>Department</label>
             <select name="department_id">                  <!--to update dynamic drop down -->
                 <option value="1">Shops</option>
                 <option value="2">Casino</option>
                 <option value="3">Spa</option>
             </select>
         </div><br>
         <div>
            <label>Salary<input type="number" name="salary" min="1"></label>
        </div><br>
        <div>
            <label>Birthday<input type="date" name="birthday"></label>
        </div><br>
        <button type="reset">Reset</button>
        <button type="submit">Submit</button>
    </form>
    <br>
    <div>
        <h3>{{ message }}</h3>
    </div>
{% endblock %}