{% extends "base.html" %}

{% block title %} Departments {% endblock %}

{% block content %}
    <table style="width:30%">
        <tr>
            <th>Department</th>
            <th>Salary average</th>
        </tr>
        {% for department in departments %}
        <tr>
            <td><a href="{{ url_for('main.department', name=department['name']) }}">{{ department['name'] }}</a></td>
            <td>{{ department['salary_avg'] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
