<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <style>
        th {
           text-align: left;
        }
    </style>
</head>
<body>
    <table style="width:30%">
        <tr>
            <th>Department</th>
            <th>Salary average</th>
        </tr>
        {% for department in departments %}
        <tr>
            <td>{{ department['name'] }}</td>
            <td>{{ department['salary_avg'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{url_for('main.api')}}">API</a>
</body>
</html>